.container__main {
  margin: 50px 100px;

  @media (max-width: 1140px) {
    margin: 50px 30px;
  }

  @media (max-width: 500px) {
    margin: 50px 10px;
  }

  .section__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
    background-color: #f6f6f6;
    border-radius: 25px;
    padding: 50px;
    margin-top: 50px;

    @media (max-width: 650px) {
      background: none;
      padding: 5px;
    }
  }
}
