@use "../../styles/utils/_variables";
@use "../../styles/utils/_keyframes";
@use "../../styles/utils/_breakpoints";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  width: 90%;

  @include breakpoints.custom-media-query(1140) {
    width: 100%;
  }

  .collapse {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: variables.$quinary;
    padding: 15px;
    border-radius: 5px;
    width: 97%;
    z-index: 1;

    @include breakpoints.custom-media-query(768) {
      padding: 12px;
    }

    @include breakpoints.custom-media-query(600) {
      padding: 10px;
    }

    h3 {
      color: variables.$tertiary;
      font-size: 24px;
      font-weight: 500;
      letter-spacing: 2px;

      @include breakpoints.custom-media-query(768) {
        font-size: 20px;
      }

      @include breakpoints.custom-media-query(600) {
        font-size: 18px;
      }
    }

    img {
      width: auto;
      cursor: pointer;

      @include breakpoints.custom-media-query(768) {
        width: 25px;
      }

      &.toggleUp {
        animation: rotateUp 0.5s forwards;
        @include keyframes.rotateUp;
      }

      // ! A voir pourquoi la functiionaliter ne marche pas a cause de l'etat false qui est active directement
      // &.toggleDown {
      //  animation: rotateDown 0.5s forwards;
      //  @include keyframes.rotateDown;
      // }
    }
  }

  .content {
    background-color: variables.$primary;
    width: 97%;
    height: auto;
    border-radius: 0px 0px 10px 10px;

    &.active {
      animation: slideDown 500ms both;
      @include keyframes.slideDown;
    }

    // ! A voir pourquoi la functiionaliter ne marche pas a cause de l'etat false qui est active directement
    // &.disabled {
    //   animation: slideUp 500ms both;
    //   @include keyframes.slideUp;
    // }

    p {
      margin: 20px;
      font-size: 20px;
      font-weight: 500;
      line-height: 1.5;
      color: variables.$quinary;
      text-align: left;

      @include breakpoints.custom-media-query(768) {
        font-size: 18px;
      }

      @include breakpoints.custom-media-query(600) {
        font-size: 16px;
      }

      ul {
        list-style: none;
        gap: 5px;
      }
    }
  }
}
