.carrouselGallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;

  .arrowBack {
    position: absolute;
    left: 20px;
    cursor: pointer;

    img {
      width: 100%;

      @media (max-width: 768px) {
        width: 80%;
      }

      @media (max-width: 600px) {
        width: 60%;
      }
    }
  }

  .visible {
    display: block;
    width: 100%;
    height: 465px;
    object-fit: cover;
    border-radius: 25px;
  }

  .hidden {
    display: none;
  }

  .arrowNext {
    position: absolute;
    right: 20px;
    cursor: pointer;

    @media (max-width: 770px) {
      right: 10px;
    }

    @media (max-width: 600px) {
      right: 3px;
    }

    img {
      width: 100%;

      @media (max-width: 768px) {
        width: 80%;
      }

      @media (max-width: 600px) {
        width: 60%;
      }
    }
  }
}
